<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        .box {
            padding: 100px;
            display: inline-block;
            margin: 30px;
            background-color: pink;
        }
        li {
            list-style: none;
        }
        .favorite {
            background-color: #30d475;
        }
    </style>
</head>
<body>
    <h1>Vue3 Learning</h1>

    <div id="app">
        <div v-if="showBook">
            <ul v-for="book in filteredBooks">
                <li :class="{favorite:book.isFav}" @click="clickHandler(book)">
                    <img :src="book.img" alt="" width="100">
                    <p>{{book.title}}</p>
                    <p>author - {{book.author}}</p>
                    <p>author age is {{book.age}}</p>
                    <hr />
                </li>
            </ul>
        </div>
        <button @click="showBook=!showBook">
            <span v-if="showBook">hide</span>
            <span v-if="!showBook">show</span>
            book
        </button>

        <br />

        <div class="box" @mouseover="mouseoverHandler($event, 'data')">Mouse over</div>
        <div class="box" @mouseleave="mouseleaveHandler">Mouse leave</div>
        <div class="box" @dblclick="dblclickHandler">Double click</div>

        <a :href="link">Google</a>
    </div>

    <script src="app.js"></script>
</body>
</html>